[submodule "generic-ga"]
	path = dependencies/generic-ga
	url = git@github.com:MurilloMendonca/generic-ga.git
[submodule "Neural-Network"]
	path = dependencies/Neural-Network
	url = git@github.com:MurilloMendonca/Neural-Network.git
