[submodule "generic-ga"]
	path = generic-ga
	url = git@github.com:MurilloMendonca/generic-ga.git
[submodule "Neural-Network"]
	path = Neural-Network
	url = git@github.com:MurilloMendonca/Neural-Network.git
